html {
  min-height: 100%;
}

body {
  background-color: #343434; 
  position: relative;
  min-height: 100%;
}

.App {
  text-align: center;
}

p {
  margin: 0;
}

.appTitle {
  color:white;
  font-size: 36;
}

.appFooter {
  color:white;
  font-size: 12;
}

.appLogo {
  height: 30px;
  margin: 30px;
  pointer-events: none;
}